{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>A Web Journey {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{% static "css/style.css" %}">
	</head>
	<body>
		<header>
			<nav>
				<li><a href="" title="" >Home</a></li>
				<li><a href="" title="" >Blog</a></li>
				<li><a href="" title="" >About Me</a></li>
				<li><a href="" title="" >Contact</a></li>
			</nav>
		</header>
		{% block content %}{% endblock %}
	</body>
</html>