{% extends "base.html" %}
{% load staticfiles %}
{% load django_markdown %}

{% block title %}Blog{% endblock %}

{% block content %}
    <div class="col-md-8 content-main">
        {% for post in entries %}
            <div class="content-grid-sec">
                <div class="content-sec-info">
                    <h3><a href="{% url "article_detail" slug=post.slug %}">{{ post.title  }}</a></h3>
                    <h4>{{ post.created }}</h4>
                    <p>{{ post.body|markdown }}</p>
                    <a class="bttn" href="{% url "article_detail" slug=post.slug %}">MORE</a>
                </div>
            </div>
        {% empty %}
            {% if search %}
                <div class="content-grid-sec">
                    <div class="content-sec-info">
                        <p><< {{ search }} >> was not found, please try something else</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        
        {% if entries.has_other_pages %}
            <div class="pages">
                <ul>
                    {% for page_number in page_range %}
                        {% if page_number > 1 and forloop.first %}
                            <li><a href="#">...</a></li>
                        {% endif %}
                        {% if page_number == page %}
                            <li class="active"><a href="#">{{ page }}</a></li>
                        {% else %}
                            <li><a href="{% url "page" page=page_number %}">{{ page_number }}</a></li>
                        {% endif %}
                        {% if page_number|add:1 < entries.paginator.num_pages and forloop.last %}
                            <li><a href="#">...</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if page_range.0 > 1 %}
                            <li><a href="{% url "page" page=1 %}">First page</a></li>
                    {% endif %}
                    {% if page_range|last|add:1 < entries.paginator.num_pages %}
                        <li><a href="{% url "page" page=entries.paginator.num_pages %}">Last page</a></li>
                    {% endif %}
                </ul>
            </div>               
        {% endif %}
    </div>
    <div class="col-md-4 content-main-right">
        <div class="search">
            <h3>SEARCH HERE</h3>
            <form class="form-inline">
                <input type="text" name="search" class="pull-left" value="" onfocus="this.value=''" onblur="this.value=''">
                <input type="submit" class="pull-left" value="">
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="categories">
             <h3>FAMOUS TAGS</h3>
             <li class="active"><a href="#">WEB TRENDS</a></li>
             <li><a href="#">TEMPLATES</a></li>
             <li><a href="#">HTML / CSS TRICKS</a></li>
        </div>
        <div class="archives">
             <h3>ARCHIVES</h3>
             <li class="active"><a href="#">February 2015</a></li>
             <li><a href="#">January 2015</a></li>
             <li><a href="#">December 2014</a></li>
        </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}

